<%- include("./partials/header.ejs") %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>A propos</h1>
            <p>
                Ce site a été réalisé dans le cadre du projet 5.
            </p>
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs") %>